.faq_side_nav {
  width: 20%;
  color: $white;
}

.faq_side_nav a {
  display: block;
  margin-top: 0.2rem;
  padding: 0.5rem 2rem;
  width: 100%;
  background: $cyan;
}

.question_root {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 94%;
}

.question_root div:first-child {
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  font-weight: bold;
  border-right: 0.1rem solid $cyan;
  background: $gray;
}

.question_root div:nth-child(1n+2) {
  padding-right: 1rem;
  background: $gray;
}