.faq_side_nav {
  color: $white;
}

.faq_side_nav a {
  display: block;
  margin-top: 0.2rem;
  padding: 0 1rem;
  width: 100%;
  background: $cyan;
}

.question_root {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  width: 94%;
}