header {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin: 0;
  width: 100%;
  height: 45rem;
  color: $white;
  fill: $white;
  background-image: url(../img/header_left.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem 0rem;
}

.header_menu {
  @include bg_icon;
  display: none;
  width: 2.5rem;
  height: 3rem;
  background-image: url(../img/side_menu_1.svg);
  cursor: pointer;
  z-index: 9;
}

.header_logo {
  width: 25rem;
  height: 15rem;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}

.header_languages {
  margin-right: 0;
  margin-left: auto;
}

.header_search,
.header_register,
.header_call,
.header_login {
  padding: 0 1rem;
  background: $blue;
}

.header_search:hover,
.header_register:hover,
.header_call:hover,
.header_login:hover {
  background: $blue_dark;
}

.header_search svg,
.header_login svg,
.header_register svg,
.header_call svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: white;
}

.side_links {
  color: $blue;
  fill: $blue;
}

.side_links a,
.side_links > nav {
  line-height: 3rem;
}

.side_links > nav {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  z-index: 2;
}

.side_links nav nav div,
.side_links nav {
  position: relative;
}

.side_links nav > a:first-child {
  padding-left: 3rem;
}

nav .dropdown-toggle::after {
  @include bg_icon;
  margin-right: 0.8rem;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  background-image: url(../img/side_menu_2.svg);
  border: none;
}

.nav_show,
.nav_show a {
  display: block !important;
}

.side_links nav > .rotate_span {
  transform: rotate(180deg);
}

.side_links nav > span:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .header_menu {
    display: block;
  }

  .header_login {
    top: 3rem;
    left: 4rem;
  }

  .header_search {
    top: 3rem;
    left: 1rem;
  }

  .header_register {
    top: 3rem;
    left: 10rem;
  }

  .header_call {
    top: 3rem;
    left: 16rem;
  }

  .side_links_root {
    background: $white;
    z-index: 15;
  }

  .side_links_close {
    @include bg_icon;
    position: absolute;
    top: 0rem;
    right: 5rem;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    background-image: url(../img/side_menu_2.svg);
    cursor: pointer;
  }

  .side_links a {
    display: block;
    font-size: 1.3rem;
    line-height: 4.7rem;
    height: 5rem;
    border-top: 1px solid $gray;
  }

  .side_links > nav {
    width: 100%;
  }

  .nav_show > a {
    background-color: $gray;
  }

  .side_links nav > div {
    display: none;
    position: static;
    top: none;
    right: none;
  }
}

@media (max-width: 600px) {
  header {
    background-image: url(../img/header_left_600_2.svg);
    background-position: -1rem 0rem;
  }

  .header_logo {
    width: 13rem;
    height: 13rem;
  }

  .header_register {
    left: 11rem;
  }

  .header_call {
    left: 18rem;
  }
}

@media (min-width: 1001px) {
  .side_links a {
    display: inline-block;
    padding: 0 1rem;
    border: 0.1rem solid $white;
  }

  .side_links a:hover {
    font-weight: bold;
    border: 0.1rem solid $yellow;
  }

  .nav_show {
    width: 30rem;
  }

  .side_links nav nav a,
  .nav_show > a {
    background-color: $yellow;
  }

  .side_links .selected {
    font-weight: bold;
    border: 0.1rem solid $yellow;
  }

  .side_links_close {
    display: none;
  }

  .side_links nav > div {
    display: none;
    position: absolute;
    top: 100%;
    right: 0rem;
  }
}
