header {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin: 0;
  width: 100vw;
  height: 45rem;
  color: $white;
  fill: $white;
  background-image: url(../img/header_left.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem 0rem;
}

.header_menu {
  @include bg_icon;
  display: none;
  position: absolute;
  top: 15rem;
  right: 5rem;
  margin: 1rem;
  width: 2.5rem;
  height: 3rem;
  background-image: url(../img/side_menu_1.svg);
  cursor: pointer;
  z-index: 9;
}

.header_logo {
  margin: 4rem;
  width: 23rem;
  height: 11rem;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}

.header_languages {
  margin-right: 0;
  margin-left: auto;
}

.header_login {
  position: absolute;
  top: 10rem;
  left: 13rem;
  padding: 0 1rem;
  background: $blue;
}

.header_search {
  position: absolute;
  top: 10rem;
  left: 9rem;
  padding: 0 1rem;
  background: $blue;
  color: $white;
}

.side_links {
  color: $blue;
  fill: $blue;
}

.side_links a,
.side_links > nav {
  height: 3rem;
  line-height: 3rem;
}

.side_links > nav {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}

.side_links nav > a:first-child::after {
  @include bg_icon;
  content: " ";
  display: inline-block;
  padding: 0 1rem;
  width: 0.7rem;
  height: 0.7rem;
  background-image: url(../img/side_menu_2.svg);
}


@media (max-width: 1000px) {
  .header_menu {
    display: block;
  }

  .header_logo {
    margin: 2rem 0rem;
  }

  .header_login {
    top: 5rem;
    left: 10rem;
  }
  
  .header_search {
    top: 5rem;
    left: 5rem;
  }

  .side_links_root {
    position: relative;
    display: none;
    top: 0rem;
    left: 0px;
    width: 100vw;
    padding: 100vh;
    overflow: hidden;
    z-index: 15;
  }
  
  .side_links {
    position: absolute;
    display: none;
    top: 5rem;
    left: 4rem;
    width: 100vw;
    height: 100vh;
    max-width: 50rem;
    padding: 2rem;
    background: $white;
    overflow: hidden;
  }
  
  .side_links_close {
    @include bg_icon;
    position: absolute;
    top: 0rem;
    right: 5rem;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    background-image: url(../img/side_menu_2.svg);
    cursor: pointer;
  }

  .side_links a {
    display: block;
    font-size: 1.3rem;
    line-height: 4.7rem;
    height: 5rem;
    border-top: 1px solid $gray;
  }

  .side_links > nav {
    width: 100%;
    height: 5rem;
  }

  .side_links nav:hover {
    height: auto;
    background-color: $gray;
  }
}


@media (max-width: 600px) {
  header {
    background-image: url(../img/header_left_600_2.svg);
    background-position: -1rem 0rem;
  }

  .header_logo {
    width: 15rem;
    height: 13rem;
  }

  .side_links_root {
    top: -2rem;
  }
}


@media (min-width: 1001px) {
  .side_links_root {
    display: block!important;
  }

  .side_links {
    display: block!important;
    margin: 0 10rem;
  }

  .side_links a {
    display: inline-block;
    padding: 0 1rem;
    border: 0.1rem solid $white;
  }

  .side_links a:hover {
    font-weight: bold;
    border: 0.1rem solid $yellow;
  }

  .side_links nav:hover {
    height: auto;
    background-color: $yellow;
  }

  .side_links .selected {
    font-weight: bold;
    border: 0.1rem solid $yellow;
  }

  .side_links_close {
    display: none;
  }
}