.news_root {
  display: flex;
  flex-direction: row;
}

.news_root div:first-child {
  flex-basis: 70%;
}

.media_infograph,
.media_videos {
  display: flex;
  background: $gray;
  overflow: hidden;
}

.infograph_root {
  display: flex;
  flex-wrap: wrap;
  background: $gray;
}

.infograph_root div {
  display: inline-block;
  margin: 2% 1%;
  width: 30%;
}

.infograph_root img {
  width: 100%;
}

.media_infograph a,
.media_videos a {
  @include bg_icon;
  display: inline-block;
  margin: 3%;
  padding: 22%;
  background-position: center top;
}

@media (max-width: 600px) {
  .news_root {
    flex-direction: column;
  }
}