.news_root {
  display: flex;
  flex-direction: row;
}

.news_root div:first-child {
  flex-basis: 70%;
}

.media_infograph,
.media_videos {
  display: flex;
  background: $gray;
  overflow: scroll hidden;
}

.infograph_root {
  display: flex;
  flex-wrap: wrap;
  background: $gray;
}

.infograph_root div {
  display: inline-block;
  margin: 2% 1%;
  width: 30%;
}

.infograph_root img {
  width: 100%;
}

.media_infograph a {
  @include bg_icon;
  display: inline-block;
  margin: 3%;
  padding: 22%;
  background-position: center top;
}

.media_videos div {
  margin: 3%;
  width: 44%;
}

.media_videos > div > * {
  width: 30rem;
  height: 17rem;
}

@media (max-width: 1000px) {
  .news_root {
    flex-direction: column;
  }

  .media_videos > div > * {
    width: 39vw;
    height: 23vw;
  }
}

@media (max-width: 600px) {
  .news_root {
    flex-direction: column;
  }
}