.download {
  margin: 5%;
  width: 40%;
  float: right;
}

.download > div {
  position: relative;
  margin: 2rem 0;
  padding: 2rem;
  border: 1px solid $cyan;
}

.download > div::after {
  content: " ";
  @include bg_icon;
  position: absolute;
  top: 40%;
  right: -1rem;
  background-image: url(../img/pdf_logo.png);
}

@media (max-width: 600px) {
  .download {
    width: 90%;
    float: none;
  }
}