$blue: #003C77;
$cyan: #00A3DD;
$green: #21BCBA;
$green-sub: #1EBBB9;
$yellow: #BFD145;
$white: #FFFFFF;
$gray: #F7F7F7;
$black: #000000;


:root {
  font-size: 1vw;
}

* {
  box-sizing: border-box;
}

@mixin bg_icon {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
	font-family:"cairo-regular";
  src: local("cairo-regular"), local("Cairo-Regular"), local("Cairo Regular"),
    url("../fonts/cairo/Cairo-Regular.ttf") format("TrueType");
}

@font-face {
	font-family:"cairo-bold";
  src: local("cairo-bold"), local("Cairo-Bold"), local("Cairo Bold"),
    url("../fonts/cairo/Cairo-Bold.ttf") format("TrueType");
}

@mixin regular {
  font-family: cairo-regular, TimesNewRoman, sans-serif;
}

@mixin bold {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
}

.no_select
{
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

head, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: cairo-regular, TimesNewRoman, sans-serif;
  font-size: 1rem;
  direction: rtl;
  text-align: right;
  line-height: 3rem;
  background: $blue;
  overflow-x: hidden;
}

a {
  color: inherit!important;
  text-decoration: none!important;
}

.body_root {
  position: relative;
  color: $blue;
  background: $white;
  overflow: hidden;
}

.app_root {
  position: relative;
  margin: 27rem 0 0 0;
  overflow: hidden;
}

.max_width {
  margin: 0 auto;
  padding: 2rem;
  width: 1000px;
}

@mixin fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media (max-width: 1000px) {
  :root {
    font-size: 10px;
  }

  .max_width {
    width: 100vw;
  }
}


@media (max-width: 600px) {
  :root {
    font-size: 8px;
  }
  
  .max_width {
    width: 100vw;
  }
}


@media (min-width: 1001px) {
  
}