:root {
  font-size: 1vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "cairo-regular";
  src: local("cairo-regular"), local("Cairo-Regular"), local("Cairo Regular"), url("../fonts/cairo/Cairo-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "cairo-bold";
  src: local("cairo-bold"), local("Cairo-Bold"), local("Cairo Bold"), url("../fonts/cairo/Cairo-Bold.ttf") format("TrueType");
}

.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

head, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: cairo-regular, TimesNewRoman, sans-serif;
  font-size: 1rem;
  direction: rtl;
  text-align: right;
  line-height: 3rem;
  background: #003C77;
  overflow-x: hidden;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.body_root {
  position: relative;
  color: #003C77;
  background: #FFFFFF;
  overflow: hidden;
}

.app_root {
  position: relative;
  margin: 27rem 0 0 0;
  overflow: hidden;
}

.max_width {
  margin: 0 auto;
  padding: 2rem;
  width: 1000px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

label {
  position: relative;
  display: inline-block;
  padding-right: 3rem;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label::after {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #FFFFFF;
  background-image: url(../img/option_0.svg);
}

input[type=radio]:checked + label::after {
  opacity: 1;
  background-image: url(../img/option_1.svg);
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

ul {
  margin: 0 2rem;
  padding: 0;
  font-size: 1rem;
}

pre {
  font-family: cairo-regular, TimesNewRoman, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  white-space: pre-line;
}

@media (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
  .max_width {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 8px;
  }
  .max_width {
    width: 100vw;
  }
}

header {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin: 0;
  width: 100vw;
  height: 45rem;
  color: #FFFFFF;
  fill: #FFFFFF;
  background-image: url(../img/header_left.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem 0rem;
}

.header_menu {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  position: absolute;
  top: 15rem;
  right: 5rem;
  margin: 1rem;
  width: 2.5rem;
  height: 3rem;
  background-image: url(../img/side_menu_1.svg);
  cursor: pointer;
  z-index: 9;
}

.header_logo {
  margin: 4rem;
  width: 23rem;
  height: 11rem;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}

.header_languages {
  margin-right: 0;
  margin-left: auto;
}

.header_login {
  position: absolute;
  top: 10rem;
  left: 13rem;
  padding: 0 1rem;
  background: #003C77;
}

.header_search {
  position: absolute;
  top: 10rem;
  left: 9rem;
  padding: 0 1rem;
  background: #003C77;
  color: #FFFFFF;
}

.side_links {
  color: #003C77;
  fill: #003C77;
}

.side_links a,
.side_links > nav {
  height: 3rem;
  line-height: 3rem;
}

.side_links > nav {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  z-index: 2;
}

.side_links nav > a:first-child::after {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
  display: inline-block;
  padding: 0 1rem;
  width: 0.7rem;
  height: 0.7rem;
  background-image: url(../img/side_menu_2.svg);
}

@media (max-width: 1000px) {
  .header_menu {
    display: block;
  }
  .header_logo {
    margin: 2rem 0rem;
  }
  .header_login {
    top: 5rem;
    left: 10rem;
  }
  .header_search {
    top: 5rem;
    left: 5rem;
  }
  .side_links_root {
    position: relative;
    display: none;
    top: 0rem;
    left: 0px;
    width: 100vw;
    padding: 100vh;
    overflow: hidden;
    z-index: 15;
  }
  .side_links {
    position: absolute;
    display: none;
    top: 5rem;
    left: 4rem;
    width: 100vw;
    height: 100vh;
    max-width: 50rem;
    padding: 2rem;
    background: #FFFFFF;
    overflow: hidden;
  }
  .side_links_close {
    width: 2rem;
    height: 2rem;
    background-image: url(../img/favicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0rem;
    right: 5rem;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: #FFFFFF;
    background-image: url(../img/side_menu_2.svg);
    cursor: pointer;
  }
  .side_links a {
    display: block;
    font-size: 1.3rem;
    line-height: 2.7rem;
    border-top: 1px solid #F7F7F7;
  }
  .side_links > nav {
    width: 100%;
  }
  .side_links nav:hover {
    height: auto;
    background-color: #F7F7F7;
  }
}

@media (max-width: 600px) {
  header {
    background-image: url(../img/header_left_600_2.svg);
    background-position: -1rem 0rem;
  }
  .header_logo {
    width: 15rem;
    height: 13rem;
  }
  .side_links_root {
    top: -2rem;
  }
}

@media (min-width: 1001px) {
  .side_links_root {
    display: block !important;
  }
  .side_links {
    display: block !important;
    margin: 0 10rem;
  }
  .side_links a {
    display: inline-block;
    padding: 0 1rem;
    border: 0.1rem solid #FFFFFF;
  }
  .side_links a:hover {
    font-weight: bold;
    border: 0.1rem solid #BFD145;
  }
  .side_links nav:hover {
    height: auto;
    background-color: #BFD145;
  }
  .side_links .selected {
    font-weight: bold;
    border: 0.1rem solid #BFD145;
  }
  .side_links_close {
    display: none;
  }
}

.body_root > footer {
  padding-top: 1rem;
  background-image: url(../img/footer_left.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 23rem;
}

.body_root > footer > div {
  padding: 0 10rem;
  height: 4rem;
  color: #000000;
  clear: both;
}

.body_root > footer > div > div {
  float: left;
}

.thumb-up {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 1rem;
  padding: 0 1rem;
  background-image: url(../img/thumb-up.svg);
  cursor: pointer;
}

.thumb-down {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 1rem;
  padding: 0 1rem;
  background-image: url(../img/thumb-down.svg);
  cursor: pointer;
}

.youtube {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 7px;
  padding: 0 1rem;
  background-image: url(../img/youtube.svg);
}

.twitter_icon {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 7px;
  padding: 0 3rem;
  background-image: url(../img/twitter.svg);
}

.twitter_id {
  padding: 0 2rem;
  direction: ltr;
  color: #00A3DD;
  border: 1px solid #00A3DD;
}

.twitter_text_big {
  position: relative;
  padding: 0 2rem;
  color: #FFFFFF;
  border: 1px solid #00A3DD;
  background-color: #00A3DD;
}

.twitter_text {
  position: relative;
  padding: 0 2rem;
  color: #FFFFFF;
  border: 1px solid #00A3DD;
  background-color: #00A3DD;
  display: none;
}

.twitter_text_big::after,
.twitter_text::after {
  content: " ";
  position: absolute;
  top: 1rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #00A3DD;
}

footer > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8rem 3rem 0 15rem;
  height: 5rem;
  color: #FFFFFF;
  clear: both;
}

footer > footer *:nth-child(1n+2) {
  margin: 0 1rem;
}

footer > footer *:nth-child(2) {
  margin: 0 auto 0 0;
}

footer .apple {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/apple.svg);
}

footer .android {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/android.svg);
}

@media (max-width: 1000px) {
  .twitter_text_big {
    display: none;
  }
  .twitter_text {
    display: block;
  }
}

@media (max-width: 600px) {
  .body_root > footer {
    background-position: -5rem 0rem;
  }
  footer > footer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'first first first'  'mid2 mid3 mid4'  '. app1 app2';
    padding: 5rem 1rem 0 11rem;
    height: 10rem;
  }
  footer > footer > * {
    margin: 0 !important;
    text-align: center !important;
  }
  footer > footer > div:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: first;
  }
  footer > footer > div:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mid2;
  }
  footer > footer > div:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: mid3;
  }
  footer > footer > div:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: mid4;
  }
  footer .apple {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: app1;
  }
  footer .android {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: app2;
  }
  .body_root > footer > div {
    margin: 0 3rem;
    padding: 0;
  }
}

.banner_root {
  position: relative;
  margin: 2rem auto 4rem auto;
  padding: 0 3rem;
  width: 100%;
  max-width: 1000px;
  height: 33rem;
}

.banner_title {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  position: absolute;
  top: 4rem;
  right: 8rem;
  font-size: 3rem;
  color: #003C77;
}

.banner_sub {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  position: absolute;
  top: 9rem;
  right: 8rem;
  width: 17rem;
  font-size: 1.3rem;
  color: #21BCBA;
}

.banner_right {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 4rem;
  background-image: url(../img/banner_right.svg);
  cursor: pointer;
}

.banner_left {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 4rem;
  background-image: url(../img/banner_left.svg);
  cursor: pointer;
}

.banner_img {
  position: relative;
}

.banner_img div {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 33rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner_img .active {
  display: block;
}

#banner_img_1 {
  background-image: url(../img/home_banner_1.jpg);
}

#banner_img_2 {
  background-image: url(../img/home_banner_2.png);
}

#banner_img_3 {
  background-image: url(../img/home_banner_1.jpg);
}

#banner_img_4 {
  background-image: url(../img/home_banner_2.png);
}

.sections_box_root section div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem;
}

.sections_nav_root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.sections_text,
.sections_nav {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
  width: 30%;
  cursor: pointer;
}

.sections_nav {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10rem;
  background-size: 5rem 5rem;
}

.sections_text {
  position: relative;
  padding: 2rem;
  text-align: center;
}

.sections_nav:nth-child(1) {
  background-image: url(../img/logo_3.svg);
}

.sections_nav:nth-child(2) {
  background-image: url(../img/logo_2.svg);
}

.sections_nav:nth-child(3) {
  background-image: url(../img/logo_1.svg);
}

.sections_text:nth-child(1) {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  color: #003C77;
  font-size: 2rem;
}

.sections_text:nth-child(2) {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  color: #21BCBA;
  font-size: 2rem;
}

.sections_text:nth-child(3) {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  color: #00A3DD;
  font-size: 2rem;
}

.sections_text::after {
  content: " ";
  position: absolute;
  bottom: calc(-0.5rem - 2px);
  left: 50%;
  width: 1rem;
  height: 1rem;
  background: #FFFFFF;
  border: 1px solid #00A3DD;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}

.sections_nav_selected::after {
  background: #00A3DD;
}

.section_alert {
  position: relative;
  padding: 1rem;
  width: 15rem;
  line-height: 2rem;
  border: 1px solid #BFD145;
}

.section_alert::after {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
  position: absolute;
  top: -1rem;
  right: 2rem;
  background-image: url(../img/alert.svg);
}

.sections_box_root section {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: none;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1000px;
  border: 1px solid #00A3DD;
}

#section_1 {
  border-bottom: none;
}

#section_3 {
  border-top: none;
}

#section_4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_inputs_root {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}

.calculator_root {
  display: none;
      grid-template-areas: 'text_1 text_1 text_1 text_2 text_2 text_2' 'input_1 input_1 input_1 input_2 input_2 input_2' 'submit_1 . . text_3 text_4 text_5' '. . . input_3 input_4 input_5';
  grid-gap: 1rem;
}

.calculator_root input {
  height: 3rem;
}

.video_root {
  margin: 0 auto;
  width: 80%;
}

#section_5 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#section_5 > div {
  float: right;
  margin: 2%;
  padding: 0;
  width: 45%;
}

#section_5 img {
  width: 8rem;
  height: 8rem;
}

#section_5 h2 {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  color: #00A3DD;
}

@media (max-width: 1000px) {
  .sections_box_root section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 98%;
  }
  .section_alert {
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .sections_box_root section div {
    padding: 1rem 0;
  }
  .calculator_root {
        grid-template-areas: 'text_1 input_1 input_1' 'submit_1 . .' 'text_2 input_2 input_2' 'text_3 text_4 text_5' 'input_3 input_4 input_5';
    grid-gap: 0;
  }
  .calculator_root input[type=submit],
  .calculator_root input[type=text],
  .calculator_root input[type=number] {
    width: 90%;
  }
  #section_5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #section_5 > div {
    text-align: center;
    float: right;
    width: 100%;
    padding: 0;
  }
}

.download {
  margin: 5%;
  width: 40%;
  float: right;
}

.download > div {
  position: relative;
  margin: 2rem 0;
  padding: 2rem;
  border: 1px solid #00A3DD;
}

.download > div::after {
  content: " ";
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 2rem;
  right: -1.5rem;
  width: 3rem;
  height: 3rem;
  background-image: url(../img/pdf_logo.png);
}

@media (max-width: 600px) {
  .download {
    width: 90%;
    float: none;
  }
}

.news_root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_root div:first-child {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.fixed_massege {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background-image: url(../img/massege.svg);
  cursor: pointer;
}

article {
  position: relative;
  margin: 2rem auto;
  padding: 2%;
  padding-bottom: 3rem;
  width: 95%;
  color: #000000;
  background: #F7F7F7;
}

article a {
  position: absolute;
  bottom: 0;
  left: 2rem;
  color: #003C77 !important;
}

article img {
  float: right;
  width: 7rem;
  height: 7rem;
}

article img ~ ul,
article img + pre {
  padding-right: 8rem;
}

aside {
  margin-top: 1rem;
}

input[type=submit] {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  color: #003C77;
  border: none;
  background: #BFD145;
}

input[type=email],
input[type=text],
input[type=number] {
  font-family: cairo-regular, TimesNewRoman, sans-serif;
  width: 100%;
}

h1 {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  font-size: 1.5rem;
  line-height: 5rem;
}

h3 {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  font-size: 1.5rem;
  line-height: 5rem;
}

h1 img {
  float: right;
  width: 8rem;
  height: 5rem;
}

.title {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  margin: 2rem auto;
  color: #21BCBA;
  font-size: 2rem;
}

.title a {
  font-family: cairo-regular, TimesNewRoman, sans-serif;
  color: #003C77 !important;
  font-size: 1rem;
}

.title br {
  display: none;
}

.title a::after {
  content: " >";
}

.title a:last-child::after {
  content: " ";
}

.title a:first-of-type {
  padding-right: 3rem;
}

.button {
  font-family: cairo-bold, TimesNewRoman, sans-serif;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  text-align: center;
  color: #003C77 !important;
  background: #BFD145;
}

.CAPTCHA {
  width: 15rem;
  height: 6rem;
}

@media (max-width: 1000px) {
  .title {
    margin: 2rem 10%;
    width: 80%;
  }
  article img {
    float: none;
  }
  article img + pre,
  article ul {
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  aside {
    float: right;
    width: 30%;
    clear: both;
  }
  input[type=submit],
  .CAPTCHA {
    float: right;
    margin-right: 30%;
  }
  input[type=submit],
  input[type=text],
  input[type=email],
  input[type=number] {
    float: right;
    margin-top: 1rem;
    width: 70%;
  }
  .title br {
    display: block;
  }
  .title a:first-of-type {
    padding-right: 0;
  }
}
/*# sourceMappingURL=main.css.map */